In [1]:
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pylab import *
from scipy.stats import *
from sklearn.metrics import mean_squared_error as msq
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [5]:
# Считывание данных
data = pd.read_csv("Regression.csv", header=None)
print data.shape
data[:10]

(1000, 1)

          0
0   14.7978
1   29.0651
2   43.3372
3   57.5955
4   70.1335
5   83.5876
6   96.8992
7  108.6839
8  123.0667
9  135.9853

Преобразуем матрицу Z, вычтя из каждой строки предыдущую. Тогда ошибки кадого измерения будут распределены нормально N(0, σ2).

In [30]:
Z = np.zeros((1000, 2))
Z[0, 0] = 1
for i in range(1, 1000):
    Z[i, 1] = 1
Z

array([[ 1.,  0.],
       [ 0.,  1.],
       [ 0.,  1.],
       ...,
       [ 0.,  1.],
       [ 0.,  1.],
       [ 0.,  1.]])

In [46]:
# Оценка на начальное расстояние и скорость
tetta = np.dot(np.dot(linalg.inv(np.dot(Z.T, Z)), Z.T), data.values)
tetta

array([[   14.7978    ],
       [ 7026.45009369]])

In [49]:
# Оценка на σ2
ышпьф  =linalg.norm(data.values - np.dot(Z, tetta)) / (1000 - 2)

128.51243747346496